<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Crear Perfil</title>
    </head>
       <body>
           <p><a class="navbar-brand" href="/">Inicio</a></p>
            <div class="container">
                <h1>Editar Perfil</h1>
            </div>
   		</body>
<form action="#" th:action="@{/profile/update}" th:object="${perfil}" method="post">
	<input type="hidden" id="id" name="id" th:field="*{idPerfil}"/>
	<p>Nombre: <input type="text" th:field="*{nombre}" required/></p>
	<p>Apellido: <input type="text" th:field="*{apellido}" required/></p>
	<p>Tipo de Documento: <select name="menu" th:field="*{tipoDocumento}">
		<option value = null>--</option>
		<option value="Documento Nacional de Identidad">Documento Nacional de Identidad</option>
  		<option value="Pasaporte">Pasaporte</option>
	</select>
	</p>	
	<p>Numero de Documento: <input type="number" th:field="*{nroDocumento}" required/></p>
	<p>Email: <input type="email" placeholder="ejemplo@email.com" th:field="*{email}" required/></p>
	<input type="submit" />
	<a class="navbar-brand" href="/profile/list">Cancelar</a>
</form>
</html>
