<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Lista de Usuarios</title>
    </head>
       <body>
   		</body>
<table border="2">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Activo</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="usuario: ${lstUser}">
			<td><span th:text="${usuario.nombre}" /></td>
			<td><span th:text="${usuario.active}" /></td>
			<td><a th:href="@{'/edit'+'/'+${usuario.getNombre()}}">Editar</a></td>
			<td><a th:href="@{'/delete'+'/'+${usuario.getNombre()}}">Borrar</a></td>
		</tr>
	</tbody>
</table>
</html>