<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Crear Perfil</title>
    </head>
       <body>
           <p><a class="navbar-brand" href="/profile/list">Lista de Perfiles</a></p>
           <div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Añadir perfil</h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <form action="#" th:action="@{/profile/signup}" th:object="${perfil}" method="post">
        <div class="row clearfix">
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                Nombre:<input type="text" name="name" placeholder="Nombre" th:field="*{nombre}" required/>
              </div>
            </div>
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                Apellido<input type="text" name="name" placeholder="Apellido" th:field="*{apellido}" required />
              </div>
            </div>
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
            Email:<input type="email" name="email" placeholder="Email" required />
          </div>
              <div class="input_field select_option">
                <select name="menu" th:field="*{tipoDocumento}">
                  <option value="--">Tipo de Documento</option>
                  <option value="Documento Nacional de Identidad">Documento Nacional de Identidad</option>
                  <option value="Pasaporte">Pasaporte</option>
                </select>
                <div class="select_arrow"></div>
              </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
            	N° de Documento<input type="number" th:field="*{nroDocumento}" required/></p>
            </div>
          	<input type="submit" class="button" />
			<a class="navbar-brand" href="/">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
</div>

   		</body>
</html>